div.header.content

  h1#title William McDonald
  ul.header
    li
      a.link(href='/projects') Projects
    li
      a.link(href='https://github.com/WalrusCow') GitHub
    li
      a.link(href='/resume') Résumé
