div.masthead.clearfix
  div.inner
    ul.nav.masthead-nav
      li(class=(nav == 'home' ? 'active' : ''))
        a(href='/') Home
      li(class=(nav == 'projects' ? 'active' : ''))
        a(href='/projects') Projects
      li
        a(href='/resume.pdf') Résumé
      li
        a(href='https://www.github.com/WalrusCow') GitHub
