div.header.content

  h2 William McDonald
  ul.links
    li
      a.link(href='/projects') Projects
    li
      a.link(href='https://github.com/WalrusCow') GitHub
    li
      a.link(href='/resume') Résumé
