div.header.content

  h1.title#mainTitle
    a(href='/') William McDonald
  h1.title.navLink
    a(href='https://github.com/WalrusCow') GitHub
  h1.title.navLink
    a(href='/resume.pdf') Résumé
  h1.title.navLink
    a(href='/projects') Projects
