div.header.content

  h1.title#mainTitle William McDonald
  h1.title.navLink
    a.link(href='/projects') Projects
  h1.title.navLink
    a.link(href='https://github.com/WalrusCow') GitHub
  h1.title.navLink
    a.link(href='/resume') Résumé
