extends layout

block content
  div.inner.cover
    h1.cover-heading William McDonald
    p.lead.
      I'm a software developer currently studying Mathematics and Computer
      Science at the University of Waterloo.
    p.lead
      a.btn.btn-lg.btn-default(href='/projects') See Projects
