extends layout

block content
  p.
    Hi! I'm William, and this is my website.
    Check out #[a.link(href='projects') my projects page]
    to see a little bit of fun I've been having with the canvas.
    Alternatively, you can see much more of my code
    #[a.link(href='https://github.com/WalrusCow') hosted on GitHub].
  p.
    I'm currently studying Mathematics and Computer Science at the University
    of Waterloo.
  p Things I like include:
    ul
      li Coding in Python, JavaScript, Lisp, C, etc
      li Ubuntu
      li Reading (recent reads: Ender in Exile, Les Miserables, Dancing with Dragons)
      li Hockey
