extends layout

block content
  p.
    Hi! I'm William, and this is my website.
  p.
    I'm currently studying Mathematics and Computer Science at the University
    of Waterloo.
  p Things I like include:
    ul
      li Coding in Python, JavaScript, Lisp, C, etc
      li Ubuntu
      li Reading
      li Hockey (what a surprise!)
