extends layout

block content
  p.
    Hi! I'm William, and this is my website.
    I'm currently in my third year of studying Mathematics and
    Computer Science at the University of Waterloo.  My past
    employers include #[a.link(href='http://www.bazaarvoice.com/') Bazaarvoice],
    where I was a JavaScript developer, and
    #[a.link(href='http://www.windriver.com/') Wind River], where I
    worked as a Python developer.
  p.
    Check out #[a.link(href='projects') my projects page]
    to see a little bit of fun I've been having with the canvas.
    Alternatively, you can see much more of my code
    #[a.link(href='https://github.com/WalrusCow') hosted on GitHub].
