extends layout

block content
  h3 Conway's Game of Life
  p.
    Click on the canvas to populate a cell.
    Drag the slider to change the speed of the game.
  p
    a(href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life")
      | More info
  canvas.game#Life-canvas(height='300', width='200').
    Please use a modern browser to play.
  br
  div(style='display:inline-block')
    button.btn.btn-default#Life-start Go
    button.btn.btn-default#Life-stop Stop
    button.btn.btn-default#Life-clear Clear
    br
    input#Life-speed(type='range', value='4', min='1', max='10')

block scripts
  script(data-main='/scripts/lifeMain.js', src='/scripts/require.js')
