extends layout

block content
  p.
    I've hosted a few of my canvas-based projects here for you to see.
    They're listed in reverse chronological order.

  h2
    a(href='/projects/tetvas') Tetvas
  p.
    Tetvas is what I call my canvas-based tetris clone.  It is quite
    full-featured, showing ghosting, allowing holding of pieces and
    enabling the player to see the next pieces in the queue.

  h2
    a(href='/projects/life') Game of Life
  p.
    A basic implementation of Conway's game of life on the canvas.

  h2
    a(href='/projects/snake') Snake
  p.
    I created a simple version of snake for the canvas as well.
