extends layout

block content
  div.text-left
    h3
      a(href='/projects/tetvas') Tetvas - Tetris clone
    h3
      a(href='/projects/life') Conway's Game of Life
    h3
      a(href='/projects/snake') Snake
