extends layout

block content
  h3 Snake
  p.
    Use arrow keys or WASD to change direction.
    Eat food while avoiding self and wall.
  canvas.game#Snake-canvas(tabindex='1', height='200', width='200').
    Please use a modern browser to play.
  br
  button.btn.btn-default#Snake-start Play Snake

block scripts
  script(data-main='/scripts/snakeMain.js', src='/scripts/require.js')
