extends layout

block content
  h3 Tetvas (Tetris clone)
  p.
    Use ↑ and Z to rotate, shift to hold and ctrl to drop.
    Press P to pause the game.
  canvas.game#tetvas(height='354', width='330').
    Please use a modern browser to play.
  br
  button.btn.btn-default#tetvas-start Play

block scripts
  script(data-main='/scripts/tetvasMain.js', src='/scripts/require.js')
